<div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <div *ngIf="(loginResponse$ | async) as loginResponse; else loading">
    <div *ngIf="loginResponse.success">
      Login successful
    </div>
    <div *ngIf="!loginResponse.success">
      Login error: {{ loginResponse.error }}
    </div>
  </div>
  <ng-template #loading>Loading...</ng-template>
</div>
